<template>
    <div class="shortlink">

        <p v-show="requestError" class="shortlink__error">{{ requestError }}</p>

        <div class="shortlink__form">
            <input class="shortlink__input" v-model="originalLink">
            <a href="#" class="shortlink-submit" @click.prevent="submit">Submit</a>
        </div>

        <a
            :href="shortLink"
            v-show="shortLink"
            class="shortlink__result"
            target="_blank"
        >
            {{ shortLink }}
        </a>

    </div>
</template>

<script>

export default {

    data() {
        return {
            originalLink: '',
            shortLink: '',
            requestError: '',
        }
    },
    methods: {
        submit() {
            axios.post('/make-link', {
                link: this.originalLink,
            })
            .then((response) => {
                this.shortLink = response.data.data.shortlink;
            })
            .catch(error => {
                this.requestError = error.message;
            });
        },
    },
}
</script>

<style lang="scss" scoped>
    .shortlink {
        &__error {
            color: red;
        }
    }
</style>
